nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
        //- if you want you may use the font awesome icon instead
        //- i.fa.fa-lg.fa-bars
      a.navbar-brand(href='/') #{application}
    .collapse.navbar-collapse
      if user
        ul.nav.navbar-nav

          li.dropdown(class=url=='/categorySelector'?'active':undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.fa.fa-fw.fa-laptop
              | &nbsp;Category &nbsp;
              b.caret
            ul.dropdown-menu
              li
                a(href='/dapps/Category#Banking')
                  i.fa.fa-fw.fa-money
                  | &nbsp;Banking
              li
                a(href='/dapps/Category#Business')
                  i.fa.fa-fw.fa-briefcase
                  | &nbsp;Business
              li
                a(href='/dapps/Category#Communication')
                  i.fa.fa-fw.fa-mobile-phone
                  | &nbsp;Communication
              li
                a(href='/dapps/Category#ConsumerCredit')
                  i.fa.fa-fw.fa-money
                  | &nbsp;Consumer Credit and Lending
              li
                a(href='/dapps/Category#Eduication')
                  i.fa.fa-fw.fa-graduation-cap
                  | &nbsp;Education
              li
                a(href='/dapps/Category#Entertainment')
                  i.fa.fa-fw.fa-square
                  | &nbsp;Entertainment
              li
                a(href='/dapps/Category#Games')
                  i.fa.fa-fw.fa-gamepad
                  | &nbsp;Games
              li
                a(href='/dapps/Category#fintech')
                  i.fa.fa-fw.fa-bank
                  | &nbsp;Fintech
              li
                a(href='/dapps/Category#Health')
                  i.fa.fa-fw.fa-heart
                  | &nbsp;Health and Fitness
              li
                a(href='/dapps/Category#Identification')
                  i.fa.fa-fw.fa-group
                  | &nbsp;Identification
              li
                a(href='/dapps/Category#MTR')
                  i.fa.fa-fw.fa-money
                  | &nbsp;Money Transfer & remittance
              li
                a(href='/dapps/Category#Oracle')
                  i.fa.fa-fw.fa-eye
                  | &nbsp;Oracle
              li
                a(href='/dapps/Category#Productivity')
                  i.fa.fa-fw.fa-laptop
                  | &nbsp;Producivity
              li
                a(href='/dapps/Category#Shopping')
                  i.fa.fa-fw.fa-shopping-cart
                  | &nbsp;Shopping
              li
                a(href='/dapps/Category#Social')
                  i.fa.fa-fw.fa-group
                  | &nbsp;Social
              li
                a(href='/dapps/Category#Sports')
                  i.fa.fa-fw.fa-futbol-o
                  | &nbsp;Sports
              li
                a(href='/dapps/Category#Tools')
                  i.fa.fa-fw.fa-gears
                  | &nbsp;Tools
              li
                a(href='/dapps/Category#Transportation')
                  i.fa.fa-fw.fa-taxi
                  | &nbsp;Transportation
              li
                a(href='/dapps/Category#Travel')
                  i.fa.fa-fw.fa-plane
                  | &nbsp;Travel
              li
                a(href='/dapps/Category#Verification')
                  i.fa.fa-fw.fa-group
                  | &nbsp;Verification
              li
                a(href='/dapps/Category#Wallet')
                  i.fa.fa-fw.fa-credit-card
                  | &nbsp;Wallet
              li
                a(href='/dapps/Category#Weather')
                  i.fa.fa-fw.fa-cloud
                  | &nbsp;Weather
              li
                a(href='/dapps/Category#Other')
                  i.fa.fa-fw.fa-question
                  | &nbsp;Other


          li.dropdown(class=url=='/apiopen'?'active':undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.fa.fa-fw.fa-laptop
              | &nbsp;APIs (open)&nbsp;
              b.caret
            ul.dropdown-menu
              li
                a(href='/api/lastfm')
                  i.fa.fa-fw.fa-laptop
                  | &nbsp;Last.fm
              li
                a(href='/api/nyt')
                  i.fa.fa-fw.fa-laptop
                  | &nbsp;New York Times
              li
                a(href='/api/twilio')
                  i.fa.fa-fw.fa-laptop
                  | &nbsp;Twilio
              li
                a(href='/api/scraping')
                  i.fa.fa-fw.fa-laptop
                  | &nbsp;Hacker News
              li
                a(href='/api/socrata')
                  i.fa.fa-fw.fa-laptop
                  | &nbsp;Open Data
              li
                a(href='/api/creditcard')
                  i.fa.fa-fw.fa-laptop
                  | &nbsp;Credit Card Form
              li
                a(href='/api/react')
                  i.fa.fa-fw.fa-laptop
                  | &nbsp;React Markdown Editor
          li.dropdown(class=url=='/apilocked'?'active':undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.fa.fa-fw.fa-lock
              | &nbsp;APIs (auth req'd) &nbsp;
              b.caret
            ul.dropdown-menu
              li
                a(href='/api/facebook')
                  i.fa.fa-fw.fa-lock
                  | &nbsp;Facebook
              li
                a(href='/api/foursquare')
                  i.fa.fa-fw.fa-lock
                  | &nbsp;Foursquare
              li
                a(href='/api/github')
                  i.fa.fa-fw.fa-lock
                  | &nbsp;GitHub
              li
                a(href='/api/paypal')
                  i.fa.fa-fw.fa-lock
                  | &nbsp;PayPal
              li
                a(href='/api/stripe')
                  i.fa.fa-fw.fa-lock
                  | &nbsp;Stripe
              li
                a(href='/api/tumblr')
                  i.fa.fa-fw.fa-lock
                  | &nbsp;Tumblr
              li
                a(href='/api/twitter')
                  i.fa.fa-fw.fa-lock
                  | &nbsp;Twitter

        //- Right side
        ul.nav.navbar-nav.navbar-right

          //- Visible to Admin users only!
          if user.type == 'admin'
            li.dropdown(class=url=='/administration'?'active':undefined)
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.fa.fa-fw.fa-cogs
                | &nbsp;Admin&nbsp;
                b.caret
              ul.dropdown-menu
                li
                  a(href='/dashboard')
                    i.fa.fa-fw.fa-laptop
                    | &nbsp;Dashboard
                li
                  a(href='/accounts')
                    i.fa.fa-fw.fa-users
                    | &nbsp;Accounts
                li
                  a(href='/colors')
                    i.fa.fa-fw.fa-cog
                    | &nbsp;Color Scheme

          //- User account
          li.dropdown(class=url=='/account'?'active':undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img.profile-image(src='#{user.profile.picture}')
              else
                img.profile-image(src='#{user.gravatar(60)}')
              | #{user.profile.name || user.email || user.id}&nbsp;
              b.caret
            ul.dropdown-menu
              li
                a(href='/account')
                  i.fa.fa-fw.fa-user
                  | &nbsp;My Account
              li
                a(href='/contact')
                  i.fa.fa-fw.fa-envelope-o
                  | &nbsp;Contact Us
              li.divider
              li
                a(href='/logout')
                  i.fa.fa-fw.fa-sign-out
                  | &nbsp;Logout

      else
        //- No user/not logged in
        ul.nav.navbar-nav.navbar-right
          li(class=url=='/login'?'active':undefined)
            a(href='/login')
              i.fa.fa-sign-in.fa-fw
              | &nbsp;Sign In
